*,*::before,*::after{
    box-sizing:border-box
}
body{
    padding:0;
    margin:0;
    font-family:poppins,sans-serif;
    font-size:1.2rem
}
.brand-logo{
    display:flex;
    align-items: center;
    font-size: x-large;
    color:black;
    text-decoration:none;
}
.brand-logo-name{
    margin-left:1rem;
}
.main-nav ul{
    display:flex;
    margin:0;
    padding:0;
}
.main-nav a{
    background-color:green;
    color:black;
    text-decoration:none;
}
.main-nav a:hover {
    color:green
}
.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 40px;
}
.full-height-grow{
    display:flex;
    flex-direction:column;
    }
.title{
    font-weight: 400;
    font-size:3em;
    margin-bottom:1em;
    margin-top:0;
}
home{
    background-color:limegreen;
}
about{
    background-color:limegreen;
}
contacts{
    background-color: limegreen;
}
contact review{
    background-color: limegreen;
}